/* import font style */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  /* variables */
  --primary-color: #74f0ed;
  --secondary-color: #ea445a;
  --dark-color: #070e1d;
  --light-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --font-light-color: #f1f1f1;
  --font-dark-color: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background: var(--dark-color);
  color: var(--font-light-color);
}

.bracket {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
}

.round {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.match-line {
  position: absolute;
  top: 0;
  right: -100%;
  width: 80px;
  height: 100%;
}

.team {
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--font-dark-color);
}
