/* import font style */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  /* variables */
  /* --primary-color: #2ecc71;
  --secondary-color: #27ae60;
  --dark-color: #34495e;
  --light-color: #fff;
  --shadow-color: rgba(0,0,0,0.2);
  --font-light-color: #f1f1f1;
  --font-dark-color: #333; */
}

/* body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background: var(--dark-color);
  color: var(--font-light-color);
} */

.bracket {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.round {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  position: relative;
}



/* .round::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 2px solid #999;
} */

.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 1rem 0;
}

/* .match::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  border-top: 2px solid #999;
} */

/* .match::after {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 2rem;
  border-bottom: 2px solid #999;
} */

.team {
  padding: 0.5rem;
  width: 160px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin: 0 0.5rem;
  text-align: center;
}


